PORT=3000
NODE_ENV=development
API_PREFIX=/api/v1

# MongoDB
MONGO_URI=mongodb://localhost:27017/skeleton
DB_HOST=mongodb://127.0.0.1
DB_PORT=27017
DB_NAME=skeleton
DB_USER=
DB_PASSWORD=

# JWT
JWT_ACCESS_SECRET=your-access-secret
JWT_REFRESH_SECRET=your-refresh-secret
JWT_EXPIRES_IN=24h

# Pagination
PAGE_LIMIT=10
